﻿html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100vw;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: aqua;
}

/*.swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
}*/

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.map {
    padding: 10px;
    width: 80%;
    height: 82%;
    background-color: cornflowerblue;
}

.scroll-btn {
    position: relative;
    margin-top: -5vh;
}

.swiper-button-next {
    margin-right: 30%;
}

.swiper-button-prev {
    margin-left: 30%;
    color: white;
}

.content {
    padding: 10px;
    width: 80%;
    height: 82%;
    background-color: aquamarine;
}

.content-logo {
    width: 100%;
    height: 15%;
    margin-top: 10px;
    margin: auto;
    background-color: chartreuse;
}

.content-img {
    width: 100%;
    height: 60%;
    margin-top: 10px;
    margin: auto;
    background-color: greenyellow;
}

.content-text {
    width: 100%;
    height: 25%;
    margin-top: 10px;
    margin: auto;
    background-color: green;
}

.background {
    margin: 0;
    background: gray;
    image
}

main {
    margin-left: 5rem;
}

.instructions {
    background-color: black;
    opacity: 70%;
    align-items: center;
    width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    border-radius: 0px 0px 20px 20px;
}

.subform {
    background-color: #2f3642;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 20px;
}


h1 {
    font-size: 45px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: white;
}

h2 {
    font-size: 22px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font: bold;
    margin: 10px;
    color: white;
}

h4 {
}

p {
    font-family: 'Commissioner', sans-serif;
    margin: 10px;
    color: white;
}

label {
    font-size: 20px;
    font-family: 'Commissioner', sans-serif;
    margin: 10px;
    color: white;
}

input[type=file] {
    background-color: #2f3640;
    border: 1px solid #2f3640;
    padding: 5px;
    border-radius: 40px;
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    width: 96%
}

    input[type=file]::-webkit-file-upload-button {
        border: 5px solid white;
        border-radius: 20px;
        background-color: #2f3640;
        padding: 8px 16px;
        color: white;
        font-family: 'Commissioner', sans-serif;
        font-size: 14px;
    }

input[type=submit] {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

textarea {
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    width: 99%;
    height: 150px;
    font-family: 'Commissioner', sans-serif;
    resize: none;
    padding: 5px 0px 5px 5px;
}

.add-text {
}

.to-sub {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    align-items: center;
    height: 1em;
    width: 20px;
    text-decoration: none;
    padding: 20px;
    background: #2f3640;
    border-radius: 40px;
    transition: .3s;
}

    .to-sub:hover {
        background-color: white;
        color: #2f3640;
    }

.navbar {
    width: 60px;
    height: 100vh;
    position: fixed;
    /*background-color: blueviolet;*/
    z-index: 2;
}


.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    height: 100%;
    transition: .3s;
}

a {
    color: white;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 1em;
    text-decoration: none;
    padding: 16px;
    background: #2f3640;
    border-radius: 40px;
}

    .nav-link:hover {
        color: #2f3640;
        background: white;
        border-radius: 40px;
        background-size: 50% auto;
    }


/*i:hover {
    background: white;
    border-radius: 40px;
}*/


/* div */
.search-box {
    position: fixed;
    top: 45px;
    left: 6px;
    transform: translate(-0%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    z-index: 3;
}
/* input */
.search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: right;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;
}

    .search-input::placeholder {
        color: white;
    }

/* icon */
.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
    width: 180px;
    padding: 0 6px;
}

.search-box:hover > .search-input {
    width: 180px;
    padding: 0 6px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
    background: #fff;
    color: #2f3640;
}
