html,
body {
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: blue;
    background-image: url("../assets/BackgroundV2.png");
    background-size: cover;
}

.footer-expand {
    background-color: #22272e;
    position: absolute;
    
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 0px;
    transition: .5s;
    cursor: pointer;
    z-index: 4;
}

.footer-btn {
    position: absolute;
    text-align: center;
    right: 1%;
    padding: 6px 40px 7px 40px;
    border: 2px blue;
    border-radius: 20px 20px 0px 0px;
    top: -45px;
    float: right;
    border: none;
    background: #22272e;
    color: white;
    cursor: pointer;
    transition: .5s;
    z-index: 4;
}

.footer-box {
    background-color:; 
    height: 70%;
    width: 46%;
    margin: auto;
    overflow: hidden;
}


.fotter-info {
    font-family: 'Commissioner', sans-serif;
    font-size: 12px;
    color: white;
}


/* INDEX */
.swiper {
    width: 100vw;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*background-color: aqua;*/
    /*background: #fff;*/
    
}

/*.swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
}*/

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.map{
    width:500px;
    height:500px;
}
.scroll-btn {
    position: relative;
    /*margin-top: -6vh;*/
    margin-top: -3.5vh;
    color: white;
}

.swiper-button-next {
    margin-right: 30%;
    --swiper-theme-color: white;
    --swiper-navigation-size: 32px;
}

.swiper-button-prev {
    margin-left: 30%;
    --swiper-theme-color: white;
    --swiper-navigation-size: 32px;
    /*color:var(--swiper-navigation-color,var(--swiper-theme-color));*/
    /*width:calc(var(--swiper-navigation-size)/ 44px * 27px;*/
    /*height_var(--swiper-navigation-size);*/
}

.map {
    position:relative;
    padding: 10px;
    width: 600px;
    height: 82%;
    background-color: ;
    display: flex;  
    
}

.map-img {
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    background-color:;
}


.area {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    transform: translate(-50%,-50%);
}
#ltu-a {
    top: 54%;
    left: 32%;
    z-index: 5;
}

#ltu-b1 {
    top: 54%;
    left: 48.5%;
    z-index: 5;
}
#ltu-b2 {
    top: 54%;
    left: 62%;
    z-index: 5;
}
#area-c {
    top: 36%;
    left: 67%;
    z-index: 5;
}
#area-d {
    top: 36%;
    left: 51%;
    z-index: 5;
}
#area-e {
    top: 26%;
    left: 51.5%;
    z-index: 5;
}


.content {
    width: 80%;
    height: 82%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.content-logo {
    width: 100%;
    height: 20%;
    object-fit: contain;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
}

.logo {
    margin: 0px;
    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.content-img {
    width: 100%;
    height: 40%;
    /*background-color: greenyellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
   
    max-height: 100%;
    max-width: 100%;
}

.content-text {
    width: 100%;
    height: 32%;
    /*background-color: green;*/
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    background-color:;
    color: black;
    /*font-size: 1.9rem;*/
    font-size: 2.5rem;
    font-family: 'Commissioner', sans-serif;
    object-fit: contain;
    text-align: left;
    line-height: 100%;
    margin: auto;
    margin-top: 10px;
    height: 85%;
    width: 100%;
    overflow: auto;
    padding: 10px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 450px) {

    .text {
        padding: 5px;
        font-size: 13px;
        object-fit: contain;
        overflow: auto;
    }
}

/*Byt namn på klass?*/
.to-model {
    text-align: center;
    margin: auto;
    height: 6.5%;
    width: 100%;
    color: white;
    background: cornflowerblue;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}



/* POPUP WINDOW */

.popup {
    width: 270px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
    z-index: 3;
}

#login {
    pointer-events: auto;
}

#signup {
    pointer-events: none;
    opacity: 0;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-color: green;
    border-radius: 5px;
    text-align: center;
    background: #d4e1f8;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #6495ed;
    border-radius: 5px;
    transition: .5s;
}

.toggle-btn {
    padding: 10px 28px;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    border: 0;
    outline: none;
    position: relative;
}

.input-group {
    position: absolute;
    display: block;
}

.h2-input {
    color: black;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 8px;
    font-size: 30px;
}

.text-input {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

label span {
    color: black;
    padding-left: 15px;
    font-size: 16px;
}

.remember-btn {
    margin-left: 0px;
    height: 10px;
}

.remember {
    margin-left: 4px;
    font-size: 14px;
}

.forgot {
    color: black;
    display: block;
    margin: 20px;
    margin-left: 30px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.submit {
    width: 80%;
    padding: 18px;
    margin-top: 15px;
    margin-left: 29px;
    margin-right: 25px;
    color: white;
    background: cornflowerblue;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

.close-btn {
    color: black;
    float: right;
    margin: 10px;
    cursor: pointer;
}

/* SUBMITION PAGE */

.background {
    margin: 0;
    background: gray;
}


.instructions {
    background-color: black;
    opacity: 70%;
    align-items: center;
    width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    border-radius: 0px 0px 20px 20px;
}

.subform {
    background-color: #2f3642;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 20px;
}


/* MODEL VIEWER */

.model-viewer {
    height: 85vh;
    width: 85vw;
    background-color: white;
    border-radius: 15px;
}

.horizontal-navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: blueviolet;
}

.load-model-btn {
}

.load-img-btn {
}

.upload-file-btn {
}

/* GENERAL */
h1 {
    font-size: 40px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: white;
}

h2 {
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font: bold;
    margin: 10px;
    color: white;
}

h4 {
}

p {
    font-family: 'Commissioner', sans-serif;
    margin: 10px;
    font-size: 14px;
    color: white;
}

label {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Commissioner', sans-serif;
    margin: 10px;
    color: white;
}

.upload-btn {
    background-color: #2f3640;
    border: 1px solid #2f3640;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    width: 96%
}

    .upload-btn::-webkit-file-upload-button {
        border: 3px solid white;
        border-radius: 10px;
        background-color: #2f3640;
        padding: 8px 16px;
        color: white;
        font-family: 'Commissioner', sans-serif;
        font-size: 14px;
    }

.submit-form-btn {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

textarea {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 99%;
    height: 150px;
    font-family: 'Commissioner', sans-serif;
    resize: none;
    padding: 5px 0px 5px 5px;
}

.add-text {
}

.to-sub {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    align-items: center;
    height: 1em;
    width: 20px;
    text-decoration: none;
    padding: 20px;
    background: #2f3640;
    border-radius: 40px;
    transition: .3s;

    
}

.to-sub:hover {
    background-color: white;
    color: #2f3640;
}

/* MENU BAR */

.menu-container {
    /*background-color: mediumpurple;*/
    position: fixed;
    height: 100%;
    width: 200px;
    left: -125px;
    z-index: 2;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: #22272e;
    border-radius: 40px;
    /* border: 3px solid #fff; */
    float: right;
    margin-right: -3px;
    top: 5px;
}

.menu-btn__burger {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
     content: '';
     position: absolute;
     width: 30px;
     height: 4px;
     background: #fff;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgba(255,101,47,.2);
     transition: all .2s ease-in-out;
 }

.menu-btn__burger::before {
     transform: translateY(-8px);
}

.menu-btn__burger::after {
    transform: translateY(8px);

}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
}

.navbar {
    width: 86px;
    /*height: 100vh;*/
    margin-top: 15vh;
    height: 85vh;
    position: fixed;
    /*background-color: blueviolet;*/
    left: -125px;
    z-index: 4;
    transition: .5s;
}


.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: .5s;
}

.nav-item {
    height: 100%;
    transition: .3s;
}

a {
    color: white;
}

.fa-cube, .fa-map-location-dot, .fa-arrow-right-to-bracket {
    align-self: center;
    transform: translate(-10%,0%);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 1em;
    text-decoration: none;
    padding: 32px;
    width: 16px;
    background: #22272e;
    border-radius: 60px;
}

.nav-link:hover {
    color: #22272e;
    background: white;
    border-radius: 40px;
    background-size: 50% auto;
}


/*i:hover {
    background: white;
    border-radius: 40px;
}*/


/* div */
.search-box {
    position: fixed;
    /*top: 45px;*/
    /*left: 6px;*/
    margin-top: 34px;
    left: -125px;
    transform: translate(-3%, -50%);
    background: #22272e;
    height: 70px;
    border-radius: 50px;
    padding: 5px;
    transition: .5s;
    z-index: 4;
}
/* input */
.search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0px;
    color: #fff;
    float: right;
    font-size: 18px;
    transition: .3s;
    line-height: 70px;
}

.search-input::placeholder {
    color: white;
}

/* icon */
.search-btn {
    float: right;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #22272e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
    width: 140px;
    padding: 0 6px;
}

.search-box:hover > .search-input {
    width: 140px;
    padding: 0 6px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
    background: #fff;
    color: #2f3640;
}



