
.instructions {
    background-color: green;
    align-items: center;
    margin: auto;
    width: 60%;
    height: 90%;
}

.subform {
    background-color: red;
    width: 60%;
    height: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.background {
 
    
}

.wrapper {
    display: flex;
    position: absolute;
    top: 62px;
    z-index: -1;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    left: 8px;
}

section {
    height: 98vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    scroll-snap-align: start;
    z-index: 0;
}

.wrapper section:nth-child(1) {
    background-color: #f9ca24;
    opacity: 70%;
    display: block;
}

.wrapper section:nth-child(2) {
    background-color: #f0932b;
    opacity: 70%;
}

.wrapper section:nth-child(3) {
    background-color: #eb4d4b;
    opacity: 70%;
}

.wrapper section:nth-child(4) {
    background-color: #6ab04c;
    opacity: 70%;
}

.wrapper section:nth-child(5) {
    background-color: #be2edd;
    opacity: 70%;
}

.content {
    display: block;
    position: center;
    background-color: red;
    padding: 3%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20%;
    margin-top: 5%;
    height: 75%;
}

h1 {
    color: blue;
    text-align: center;
    margin: 3%;
    font-size: 50px;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    font: bold;
    margin: 3%
}

h4 {

}

p {
    margin: 3%
}


.navbar {
    width: 80px;
    height: 100vh;
    position: fixed;
    background-color: blueviolet;
}


.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    height: 100%;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 1em;
    text-decoration: none;
}

a {
    background: #2f3640;
    color: white;
    border-radius: 40px;
    padding: 20px;
}

.search-box {
    position: absolute;
    left: 0%;
    transform: translate(-0%, -50%);
    background: #cd595a;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
}

.search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: left;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;
}

.search-btn {
    color: #fff;
    border-radius: 50px;
    background: #cd595a;
    text-decoration: none;
    transition: .3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-input {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
  background: #fff;
  color: #cd595a;
}